<%if current_user != nil%>
<h1>New entity</h1>

<%= render "form", entity: @entity %>

<br>

<div>
  <%= link_to "Back to entities", entities_path %>
</div>
<%else%>
<p> error!, sign in first</p>
<%end%>
