<div id="<%= dom_id categorization %>">
  <p>
    <strong>Entity:</strong>
    <%= categorization.entity_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= categorization.group_id %>
  </p>

</div>
